version: '3'

services:
  traefik:
    image: traefik:1.4.6
    restart: always
    ports:
      - 80:80
      - 443:443
    networks:
      - web
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${TRAEFIK_TOML_FILE:-./traefik/traefik.toml}:/traefik.toml
      - ${ACME_JSON:-./traefik/acme.json}:/acme.json
    container_name: traefik
    labels:
      - "traefik.enable=true"
      - "traefik.port=8080"
      - ${TRAEFIK_URL_CONFIG:-traefik.frontend.rule=Host:traefik.naturalis.nl}

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.1.0
    volumes:
    - elasticsearch_data:/usr/share/elasticsearch/data
    environment:
      # so support single node development
      discovery.type: single-node
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - web
      - default
    labels:
      - "traefik.backend=naturalis-elasticsearch"
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.port=9200"
      - ${ELASTICSEARCH_URL_CONFIG:-traefik.frontend.rule=Host:elasticsearch.naturalis.nl}
      - ${ELASTICSEARCH_AUTH:-traefik.frontend.auth.basic=kibana:$apr1$.lcgllId$9sUY3fPk/gDuh3NQ55024/}

  logstash:
    build: ./logstash
    volumes:
      - ./logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml
      - ./logstash/pipeline:/usr/share/logstash/pipeline
      - pglog:/mnt/data:rw
    ports:
      - "5000:5000"
    environment:
      LS_JAVA_OPTS: "-Xmx256m -Xms256m"
    networks:
      - default
    depends_on:
      - elasticsearch

  kibana:
    image: docker.elastic.co/kibana/kibana-oss:6.1.0
    expose:
      - "5601"
    ports: # remove when using traefik only
      - "5601:5601"
    networks:
      - web
      - default
    labels:
      - "traefik.backend=naturalis-kibana"
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.port=5601"
      - ${KIBANA_URL_CONFIG:-traefik.frontend.rule=Host:kibana.naturalis.nl}
      - ${KIBANA_AUTH:-traefik.frontend.auth.basic=kibana:$apr1$.lcgllId$9sUY3fPk/gDuh3NQ55024/}

  grafana:
    #image: grafana/grafana
    image: grafana/grafana:master
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASS:-secret}
    expose:
      - "3000"
    networks:
      - web
      - default
    labels:
      - "traefik.backend=naturalis-grafana"
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.port=3000"
      - ${GRAFANA_URL_CONFIG:-traefik.frontend.rule=Host:grafana.naturalis.nl}

  postgres:
    build: ./postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./postgres/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - ./postgres/conf.d:/conf.d
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - REPLICATION_USER=${REPLICATION_USER}
      - REPLICATION_PASSWORD=${REPLICATION_PASSWORD}
    networks:
      - pgnet

  psql:
    build: ./psql
    volumes:
      - pglog:/tmp
    networks:
      - pgnet

  pgadmin:
    build: ./pgadmin
    volumes:
      - "pgadmin:/home/pgadmin"
    expose:
      - "5050"
    ports:
      - 5050:5050
    networks:
      - web
      - pgnet
    environment:
      - DEFAULT_USER=${POSTGRES_USER}
      - DEFAULT_PASSWORD=${POSTGRES_PASSWORD}
    labels:
      - "traefik.backend=naturalis-pgadmin"
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.port=5050"
      - ${GRAFANA_URL_CONFIG:-traefik.frontend.rule=Host:pgadmin.naturalis.nl}

  schemaspy_nginx:
    image: nginx:1.13.1-alpine
    volumes:
      - schemaspy_data:/var/www/html:ro
      - ./schemaspy_nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    expose:
      - "8081"
    ports:
      - "8081:8081"
    command: "nginx -g 'daemon off;'"
    labels:
      - "traefik.backend=naturalis-schemaspy"
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.port=8081"
      - ${GRAFANA_URL_CONFIG:-traefik.frontend.rule=Host:schemaspy.naturalis.nl}

  schemaspy:
    image: schemaspy/schemaspy:snapshot
    volumes:
      - schemaspy_data:/output
#     - ./schemaspy.properties:/schemaspy.properties
    networks:
      - pgnet
    command: "-t pgsql -host ${POSTGRES_HOST} -port ${POSTGRES_PORT} -db ${POSTGRES_DB} -s ${POSTGRES_SCHEMA} -u ${POSTGRES_USER} -p ${POSTGRES_PASSWORD}"

networks:
  pgnet:
  web:
    external: true

volumes:
  elasticsearch_data:
  grafana_data:
  pgadmin_data:
  schemaspy_data:
  pglog:
  pgdata:
  pgadmin:

#filebeat should not run in this cluser since it won't every really be
#
# ====================================================================
#  filebeat:
#    image: docker.elastic.co/beats/filebeat:6.1.0
#    network_mode: host
#   #      - filebeat
#        #    extra_hosts:
#        #      - "insight-elasticsearch.naturalis.nl:127.0.0.1"
#    volumes:
#      - ./filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml
#      - ./filebeat/modules.d:/usr/share/filebeat/modules.d
#      - ./filebeat/module:/usr/share/filebeat/module
#      - ./filebeat/log:/log
#      - ./filebeat/template:/template

